.gridcadastro{
    
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.Cadastrodeprodutos{
    background-color: #f5f5f5;
    position: absolute;
    width: 60%;
    height: 510px;
    box-shadow: 2px 2px 2px 2px rgba(59, 59, 59, 0.301);
    top:10%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.Cadastrodeprodutos input{
    margin-left: 5em;
    width:80%;
    padding: 5px;
}
@media(max-width:767px){
    .Cadastrodeprodutos{
        flex-direction: column;
        box-sizing: border-box;
    }
    .Cadastrodeprodutos input{
        width:auto;
    }
}
.Cadastrodeprodutos h1{
    margin-left: 2em;
    margin-top: 2em;
    }
.Cadastrodeprodutos p{
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom:5px ;
}

.Cadastrodeprodutos #buttonProduto{
    color:white;
    background-color: rgb(255, 145, 0);
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.Cadastrodeprodutos #botaovoltar{
    color:white;
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#mensagemproduto{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

